@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:#e51010;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }
 
 *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
 }
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 html::-webkit-scrollbar{
    width: 1rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: var(--white);
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }
 
 section{
    padding:5rem 10%;
 }
 
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
 }
 .food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    border-color: #222;
 }
 .food-menu-box{
    width: 100%;
    margin: 1%;
    padding: 3%;
    float: left;
    background-color: white;
    border-radius: 15px;
 }
 
 .food-menu-img{
    width: 90%;
    float: left;
    
 }
 
 .food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
 }
 
 .food-price{
    font-size: 1.2rem;
    margin: 2% 0;
 }
 .food-detail{
    font-size: 1rem;
    color: #222;
 }
 
 
 
 
 
 
 
 .footer{
    
    background-size: cover;
    background-position: center;
 }
 
 .footer .box-container{
    display: grid;
 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
 }
 
 .footer .box-container .box h3{
    color:var(--black);
    font-size: 1.5rem;
    padding-bottom: 2rem;
 }
 
 .footer .box-container .box a{
    color:var(--black);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-bottom: 2rem;
 }
 
 .footer .credit{
    text-align: bottom;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--black);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }
 
 .heading{
    background-color: #e51010;
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
 }
 
 .btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color:var(--white);
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor: pointer;
 }
 
 .btn:hover{
    background: var(--main-color);
 }
 
 .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
 }
 
 .header .logo{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
 }
 
 .header .navbar a:hover{
    color:var(--main-color);
 }
 .order{
    width: 50%;
    margin: 0 auto;
  }
  .input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  .order-label{
    margin-bottom: 1%; 
    font-weight: bold;
  }
 
 
 
 
 
 
 