:root{
  --main-color:#e51010;
  --black:#222;
  --white:#fff;
  --light-black:#777;
  --light-white:#fff9;
  --dark-bg:rgba(0,0,0,.7);
  --light-bg:#eee;
  --border:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-decoration-color: #222;
  text-transform: capitalize;

}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff url(../img/background.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 300;
}
.login-form {
  margin: 50px auto;
  background: white;
  padding: 30px 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  height: 400px;
}
.login-form #form-loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1000;
  background: #555555;
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}



.footer{
   
  background-size: cover;
  background-position: center;
}

.footer .box-container{
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box h3{
  color:var(--black);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a{
  color:var(--black);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a i{
  color:var(--main-color);
  padding-right: .5rem;
  transition: .2s linear;
}

.footer .box-container .box a:hover i{
  padding-right: 2rem;
}

.footer .credit{
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: .1rem solid var(--light-white);
  font-size: 2rem;
  color:var(--black);
}

.footer .credit span{
  color:var(--main-color);
}
.header{
  position: sticky;
  top:0; left:0; right:0;
  z-index: 1000;
  background-color: var(--white);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo{
  font-size: 2.5rem;
  color:var(--black);
}

.header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--main-color);
}